<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('product_list') }}">Products</a></li>
        <li><a href="{{ path('cart_view') }}">Cart</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_profile') }}">Profile</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
